<!-- Ration Section  -->
<div
  class="md:w-4/4 sm:w-4/4 m-8 bg-white p-6 rounded shadow-md flex items-center"
>
<div class="cursor-pointer" *ngFor="let _ of avrNote">
    
    <svg
      class="text-yellow-500"
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 fill-current"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10 1l2.39 6.47h6.73l-5.46 4.43 2.39 6.47-5.46-4.43-5.46 4.43 2.39-6.47-5.46-4.43h6.73z"
      />
    </svg> 

   
  </div>
</div>
